## Report for NOLA African American Male Students

In [3]:
import pandas as pd
from pathlib import Path
from datetime import datetime
import numpy as np

In [4]:
today = datetime.today()
in_file = Path.cwd() / "data" / "processed" / "processed_data.pkl"
report_dir = Path.cwd() / "reports"
report_file = report_dir / "Excel_Analysis_{today:%b-%d-%Y}.xlsx"

In [7]:
df = pd.read_pickle(in_file)

### Percent of Students Accepted into College

In [19]:
df["accepted_into_college"] = df["# Four Year College Acceptances"] > 0

pd.crosstab(
    df["High School Class"],
    df["accepted_into_college"],
    values=df["18 Digit ID"],
    aggfunc=len,
    normalize="index",
).round(2)

accepted_into_college  False  True
High School Class
2012                    0.07   0.93
2013                    0.26   0.74
2014                    0.18   0.82
2015                    0.25   0.75
2016                    0.40   0.60
2017                    0.00   1.00
2018                    0.00   1.00
2019                    0.00   1.00

### Percent of Students Matriculated into College

In [16]:
df_subset = df[df["High School Class"] > 2014]
pd.crosstab(
    df_subset["High School Class"],
    df_subset["Indicator: College Matriculation"],
    values=df_subset["18 Digit ID"],
    aggfunc=len,
    normalize="index",
).round(2)

Indicator: College Matriculation  2-year  4-year  Approved Gap Year
High School Class
2015                                 0.0    1.00               0.00
2016                                 0.1    0.90               0.00
2017                                 0.0    1.00               0.00
2018                                 0.0    1.00               0.00
2019                                 0.0    0.93               0.07

### • % college freshmen persistence rate

In [18]:
df_subset_less = df_subset[df_subset["High School Class"] < 2019]
pd.crosstab(
    df_subset_less["High School Class"],
    df_subset_less["Indicator: Persisted into Year 2 (Wide)"],
    values=df_subset_less["18 Digit ID"],
    aggfunc=len,
    normalize="index",
).round(2)

Indicator: Persisted into Year 2 (Wide)  False  True
High School Class
2015                                      0.19   0.81
2016                                      0.60   0.40
2017                                      0.17   0.83
2018                                      0.00   1.00

### • % college graduation rate

In [20]:
df_college_grads = df[df["Indicator: Years Since HS Graduation"] >= 6]

pd.crosstab(
    df_college_grads["High School Class"],
    df_college_grads["Graduated: 4-Year Degree <=6 years"],
    values=df_college_grads["18 Digit ID"],
    aggfunc=len,
    normalize="index",
).round(2)

# pivot_table(index=['High School Class'], columns='Graduated: 4-Year Degree <=6 years', values='18 Digit ID', aggfunc=len)

Graduated: 4-Year Degree <=6 years  False  True
High School Class
2012                                 0.71   0.29
2013                                 0.84   0.16

### # of Students Who Completed HS Program (College enrollment proxy) historically

In [21]:
df["High School Class"].value_counts()

2013    19
2015    16
2019    14
2012    14
2018    13
2017    12
2014    11
2016    10
Name: High School Class, dtype: int64